<ion-header>
  <ion-navbar>
    <ion-title>管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="outer-content">
  <ion-list>
    <ion-list-header class="list-header">
      选择
    </ion-list-header>

    <ion-item>
    <ion-label>教学楼</ion-label>
      <ion-select [(ngModel)]="buildModel" okText="确认" cancelText="取消">
        <ion-option *ngFor="let building of buildings" value="{{building.buildingNum}}">
          {{building.buildingNum}}
        </ion-option>
        <!-- <ion-option value="yifu" selected="true">逸夫楼</ion-option>
        <ion-option value="siyuan">思源楼</ion-option> -->
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label>教室号</ion-label>
      <ion-select [(ngModel)]="class" okText="确认" cancelText="取消">
        <ion-option *ngFor="let classroom of classrooms" value="{{classroom.id}}">
          {{classroom.classroomNum}}
        </ion-option>      
      </ion-select>
    </ion-item> -->
  </ion-list>

  <ion-list>
    <ion-list-header class="list-header">
      教室列表
    </ion-list-header>

    <button ion-item *ngFor="let device of devices | BuildPipe:buildModel" [navPush]="deviceDetailPage" [navParams]="device">
      {{ device.buildingNum }} {{ device.classroomNum }}
      <ion-badge *ngIf="device.raspberryStreamStatus==0" item-right color="danger">离线</ion-badge>
      <ion-badge *ngIf="device.raspberryStreamStatus==1" item-right color="secondary">空闲</ion-badge>
      <ion-badge *ngIf="device.raspberryStreamStatus==2" item-right color="danger">异常</ion-badge>
      <ion-badge *ngIf="device.raspberryStreamStatus==3" item-right color="primary">推流</ion-badge>
      <ion-badge *ngIf="device.raspberryStreamStatus==4" item-right color="primary">拉流</ion-badge>
      <ion-badge *ngIf="device.raspberryStreamStatus==5" item-right color="primary">广播</ion-badge>
    </button>  
  </ion-list>     
 </ion-content>
